@using GroupRun.ViewModels
@model UserDetailViewModel

<div class="main-container">
    <section class="bg-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <a href="@Url.Action("Index", "User")" class="btn btn-secondary mt-3">Back</a>
                </div>
                <div class="col-auto">
                    <!-- Empty column for spacing -->
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-12 col-md-8">
                    <div class="media">
                        <img alt="Image" src="@Model.ProfileImageUrl" class="mr-4" style="max-width: 200px; max-height: 200px;">
                        <div class="media-body">
                            <div class="mb-3">
                                <h1 class="h2 mb-2">@Model.UserName</h1>
                            </div>
                            <p class="text-muted mb-4">Pace: @Model.Pace</p>
                            <p class="text-muted mb-4">Mileage: @Model.Mileage</p>
                            @Model.Description</p>
                            <div class="mb-4">
                                <button class="btn btn-outline-primary mr-2" data-toggle="button"><i class="icon-add-user"></i> Follow</button>
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Add to group</a>
                                        <a class="dropdown-item" href="#">Share Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Block</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="races-tab" data-toggle="tab" href="#races" role="tab" aria-controls="races" aria-selected="true">Races</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="groups-tab" data-toggle="tab" href="#clubs" role="tab" aria-controls="clubs" aria-selected="false">Clubs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


 @*   <section class="flush-with-above">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="races" role="tabpanel" aria-labelledby="races-tab">
                <div class="container">
                    <ul class="row feature-list feature-list-sm">
                        @foreach (var race in Model.Races)
                        {
                            <li class="col-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <a href="#">
                                        <img class="card-img-top" src="@race.ImageUrl" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">@race.Title</h4>
                                            <p class="card-text text-body">@race.Description</p>
                                        </a>
                                    </div>
                                    <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                        <div class="text-small">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="icon-heart mr-1"></i> @race.Likes</li>
                                                <li class="list-inline-item"><i class="icon-message mr-1"></i> @race.Comments</li>
                                            </ul>
                                        </div>
                                        <div class="dropup">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="RaceDropdown_@race.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-dots-three-horizontal"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="RaceDropdown_@race.Id">
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Share</a>
                                                <a class="dropdown-item" href="#">Comment</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="tab-pane fade" id="clubs" role="tabpanel" aria-labelledby="groups-tab">
                <div class="container">
                    <div class="row">
                        @foreach (var club in Model.Clubs)
                        {
                            <div class="col-12 col-md-6 col-lg-4 d-flex">
                                <div class="card">
                                    <a href="#">
                                        <img class="card-img-top" src="@club.ImageUrl" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="#" class="d-block mb-2">
                                            <h4>@club.Name</h4>
                                        </a>
                                        <span>@club.Description</span>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><i class="icon-users">&nbsp;</i> @club.MembersCount members</li>
                                        <li class="list-group-item"><i class="icon-folder">&nbsp;</i> @club.ProjectsCount projects</li>
                                    </ul>
                                    <div class="card-footer d-flex align-items-center">
                                        <div>
                                            <ul class="list-inline list-spacing-sm">
                                                @foreach (var member in club.Members)
                                                {
                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="@member.AvatarUrl">
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <span class="text-small ml-2">+ @(club.Members.Count - 4) more</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                <!-- Content for Followers tab -->
            </div>

        </div>
    </section>*@

